div(ui-view)
  div
    div
      h3 Reservations

    div
      //- Used to manipulate the view
      div(class="btn-group", ng-init="radioModel=\"WorkWeek\"")
        label(class="btn btn-primary", ng-model="radioModel", btn-radio="\"WorkWeek\"") Work week
        label(class="btn btn-primary", ng-model="radioModel", btn-radio="\"Week\"") Week
        label(class="btn btn-primary", ng-model="radioModel", btn-radio="\"Weekend\"") Weekend
        label(class="btn btn-primary", ng-model="radioModel", btn-radio="\"Today\"") Today
        label(class="btn btn-primary", ng-model="radioModel", btn-radio="\"Tomorrow\"") Tomorrow

      div
        //- TODO timetable / reservation system

