div(ui-view)
  div
    div
      h3 Reservations

    div
      //- Used to manipulate the view
      div(class="btn-group")
        label(class="btn btn-success", ng-model="radioModel", btn-radio="'Week'", uncheckable) Week
        label(class="btn btn-success", ng-model="radioModel", btn-radio="'WorkWeek'", uncheckable) Work week
        label(class="btn btn-success", ng-model="radioModel", btn-radio="'Weekend'", uncheckable) Weekend
        label(class="btn btn-success", ng-model="radioModel", btn-radio="'Today'", uncheckable) Today
        label(class="btn btn-success", ng-model="radioModel", btn-radio="'Tomorrow'", uncheckable) Tomorrow

      div
        //- TODO timetable / reservation system

