div(ui-view)
    div
        div
            h3 Employees

    div
        label(for="employee-firstname") First name
        input(type="text", id="employee-firstname").form-control

        label(for="employee-surname") First name
        input(type="text", id="employee-surname").form-control
