div(ui-view)
    div
        div
            h3 Employees

    div
        //- TODO where do we manipulate the employee details in more detail?
        //- What if I want to create thousand employees at the same time?

        //- Used to create new employees quickly
        div
            button(ng-model="isEmployeeCreationHidden", ng-click="isEmployeeCreationHidden = !isEmployeeCreationHidden")
                label Create employee(s)

            button(ng-model="files", ng-file-select="exportEmployeesCsv($files)") Export Employees from CSV 1
            button(ng-model="files", ng-file-select="exportTreatmentsCsv($files)") Export Treatments from CSV 1

            div(collapse="isEmployeeCreationHidden")
                //- TODO export employees from CSV
                label(for="employee-firstname") First name
                input(type="text", id="employee-firstname").form-control

                label(for="employee-surname") First name
                input(type="text", id="employee-surname").form-control

                button(type="button").btn.btn-default Save
                button(type="button").btn.btn-default Clear

        //- Used to manipulate specific traits/skills the employee has and what they are allowed to do
        //- Example: Person 'A' can change tires but they cannot work Excel. When doing reservations for Customer ABC 
        //-          who just called in, the person making the reservation needs to see are there people free with  
        //-          specific skills for that customer. ABC might request someone to change their tires and someone 
        //-          to do their taxes in Excel, A cannot do both but can change the tires. This is crucial information
        //-          for the reservation process and needs to be available ALL the time
        div

